{% extends 'base.html' %}
{% load static %}
{% block content %}

<form id="checkout" method="post">

<div class="row">

    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            {% if not user.is_authenticated %}
                <div id="user-info">
                    <hr>
                    <h3>User Information:</h3>
                    <hr>


                        {% csrf_token %}
                        {{ customer_form.as_p }}

                </div>
                {% endif %}


                <div id="shipping-info">
                    <hr>
                    <h3>Shipping Information:</h3>
                    <hr>


                        {% csrf_token %}
                        {{ shipping_form.as_p }}

                </div>

                <hr>
                <input id="confirm-order" class="btn btn-success btn-block" type="submit" value="Confirm order">

        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>

            <table class="table" id="display-checkout">

            </table>

            <h5>Items:  <span id='total_items' ></span></h5>
            <h5>Total:  <span id='total'></span> </h5>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
{% endblock %}
