{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
<link rel="stylesheet" type="text/css" href="/static/styles/style.css">
{% endblock %}

{% block javascript %}
<script src="/static/js/product.js"></script>
{% endblock %}

{% block content %}


<div>
    <h1>Featured Products</h1>
</div>

<div class="row g-1" style="background: #eee;">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card p-3">
            <div class="text-center"> <img src="/media/{{product.image}}" class ="thumbnail product_img" width="150"></div>
            <div class="product-details"> <span class="font-weight-bold d-block">€  {{ product.price }}</span> <span> {{ product.name }}</span>
                <div class="weight"> <small>{{ product.category }}</small> </div>
                <div class="buttons d-flex flex-row">
                    <button class="cart"><a href="/cart/"><i class="fa fa-shopping-cart" style="font-size:24px;color:black"></i></a></button>
                    <a role="button" class="btn btn-dark cart-button btn-block add-to-cart" data-product="{{ product.pk }}" data-price="{{ product.price }}" data-name="{{ product.name }}"
                    data-image="/media/{{product.image}}" data-category="{{ product.category.name }}">Add to cart </a>
                    <a href="{% url 'product_detail' product.pk %}" class="btn btn-dark" role="button">View</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--    <a href="{% url 'product_create' %}">Add product</a>-->
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

{% endblock %}
